@model TFMGoSki.Dtos.ClassCommentDto

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ClassComment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Raiting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Raiting)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @if (ViewData.ContainsKey("FromDetails") && (bool)ViewData["FromDetails"])
        {        
            <a asp-action="IndexUser">Back to my comments List</a>
        }
        else
        {
            <a asp-action="Index">Back to List</a>
        }
    </form>
</div>
